################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AA.Common/bin
/.vs/LiveApp/v15
/AA.Common/obj
